{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@context": "./context",
          "@pages": "./pages",
          "@api": "./pages/api",
          "@utils": "./utils",
          "@data": "./data",
          "@firebase": "./firebase"
        }
      }
    ]
  ]
}
